<template bindable="placeholder, value, focus, focusChange, float, align, alignPlaceholder, dir, rows, disabled, rtl, errors">
  <require from="../../components/decoration/mdl-rtl"></require>

  <div mdl="textfield" class="${doFloat ? 'mdl-textfield--floating-label' : ''}" ref="textfieldElement">
    <textarea class="mdl-textfield__input" id="mdl-textfield-${id & oneTime}"
              value.bind="value" focus.two-way="focus" ref="inputElement" rows="${rows}" disabled.bind="disabled" mdl-rtl.bind="rtl" blur.trigger="onBlur()">
    </textarea>
    <label class="mdl-textfield__label" for="mdl-textfield-${id & oneTime}" ref="labelElement" mdl-rtl.bind="rtl">${placeholder}</label>
    <span class="mdl-textfield__error">${errorMsg}</span>
  </div>
</template>
